doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    meta(property='og:site_name', content='Rainbow Bezier')
    |   
    meta(property='og:description', content='Create your own colorful curves')
    |   
    meta(property='og:image', content=ogImageUrl)
    |   
    meta(property='og:url', content=ogUrl)
    |   
    link(rel='shortcut icon', href='/static/favicon.ico')
    |   
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet')
    |   
    title Rainbow Bezier
  body
    #app
    |   
    script(type='text/javascript', src='/static/bundle.js')
